In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

READING OF DATA

In [2]:
data = pd.read_csv('train.csv')

GETTING FIRST 5 ROWS OF DATASET

In [3]:
data.head()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
0,1,535651,798186,3,78945,1,2,14,177,73,123,351318.0
1,2,591911,861056,6,117220,5,9,9,148,74,95,285001.5
2,3,686990,770762,2,132538,2,8,15,181,53,97,215386.0
3,4,573999,722381,4,101065,4,3,11,197,54,116,244295.5
4,5,691388,811335,6,61559,3,9,12,160,53,105,531114.5

GETTING LAST 5 ROWS OF DATASET

In [4]:
data.tail()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
995,996,633238,743850,5,125092,1,6,11,171,95,97,190744.0
996,997,599626,848195,4,83370,2,9,14,161,101,120,419748.0
997,998,646344,842733,7,86722,1,8,9,196,113,89,405871.0
998,999,535559,732439,2,140478,4,5,9,184,112,128,74398.0
999,1000,590105,779743,5,67295,4,2,8,199,99,96,414938.5

TO FIND HOWMANY ROWS AND COLUMNS ARE PRESENT IN DATASER

In [5]:
data.shape

(1000, 12)

DESCRIBING OF DATASET

In [6]:
data.describe()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
count,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.00000
mean,500.500000,601648.286000,799131.3970,4.561000,100274.430000,2.988000,5.592000,11.625000,166.89300,84.54600,103.423000,308520.24250
std,288.819436,58407.246204,57028.9502,1.719079,29150.463233,1.402791,2.824449,2.230549,19.28838,20.51694,21.058716,126073.25915
min,1.000000,500265.000000,700018.0000,2.000000,50324.000000,1.000000,1.000000,8.000000,135.00000,50.00000,68.000000,28226.50000
25%,250.750000,548860.500000,750997.7500,3.000000,74367.500000,2.000000,3.000000,10.000000,150.00000,67.00000,85.000000,206871.75000
50%,500.500000,601568.000000,798168.0000,5.000000,100139.500000,3.000000,6.000000,12.000000,166.00000,84.00000,104.000000,306717.75000
75%,750.250000,652267.250000,847563.2500,6.000000,125048.000000,4.000000,8.000000,13.000000,184.00000,102.00000,121.000000,414260.87500
max,1000.000000,699859.000000,899797.0000,7.000000,149902.000000,5.000000,10.000000,15.000000,200.00000,120.00000,140.000000,584267.50000

GETTING THE INFORMATION OF DATASET

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   v.id           1000 non-null   int64
 1   on road old    1000 non-null   int64
 2   on road now    1000 non-null   int64
 3   years          1000 non-null   int64
 4   km             1000 non-null   int64
 5   rating         1000 non-null   int64
 6   condition      1000 non-null   int64
 7   economy        1000 non-null   int64
 8   top speed      1000 non-null   int64
 9   hp             1000 non-null   int64
 10  torque         1000 non-null   int64
 11  current price  1000 non-null   float64
dtypes: float64(1), int64(11)
memory usage: 93.9 KB

TO FIND THAT DATASET HAVING NULL VALUES OR NOT

In [8]:
data.isnull().sum()

v.id             0
on road old      0
on road now      0
years            0
km               0
rating           0
condition        0
economy          0
top speed        0
hp               0
torque           0
current price    0
dtype: int64

TO GET THE UNIQUE VALUES OF ALL DATATYPES

In [9]:
data['years'].unique()

array([3, 6, 2, 4, 5, 7], dtype=int64)

In [10]:
data['years']>=3

0       True
1       True
2      False
3       True
4       True
       ...
995     True
996     True
997     True
998    False
999     True
Name: years, Length: 1000, dtype: bool

In [11]:
data['km'].unique()

array([ 78945, 117220, 132538, 101065,  61559, 148846,  78025,  76546,
        57662, 132347, 106819, 117221,  53513,  86704,  51547,  70564,
       130514, 115576,  79458, 140673, 130523,  81194,  94437, 139685,
        53137,  74489,  85911, 100572, 143488, 101416,  90429,  67075,
       129855, 146017,  96226, 125676, 121583,  54003,  94258, 124136,
        85276,  74674, 111922,  72391, 129439, 103761,  97328,  87920,
        79912,  95771, 113301, 139139,  56698, 134933, 119131,  91182,
        70499,  79813,  65710,  88139, 122778, 140885, 146376,  67689,
        94688, 121698,  99207,  94365, 113638, 111461, 129721,  54169,
        52156,  50714, 129978, 104924, 124272, 114702,  91792, 114468,
        62563,  77250, 115617,  81941,  87661,  78783, 135574,  79799,
        68791,  67045,  97320, 112977,  64457, 141405, 105139, 122212,
        50460, 143513,  98931, 140286,  78314, 110549, 118272,  96206,
        52701,  67968,  66514, 130238,  61760,  61160,  74321, 119412,
       104220, 130732, 131804,  74161, 115874, 105989, 112697,  87427,
        60414, 147158, 119637,  93270,  83487,  68992, 149413,  74320,
        93630, 115616,  74396, 139517,  75311,  60944, 125694, 124033,
        66028, 133840, 148642,  84645, 135305, 112910, 115951,  90509,
        54984,  55584, 114559, 146540, 125188,  74444, 124042,  69621,
       124754, 107712, 103666, 110771, 104980, 105481,  60237,  54601,
        61872, 145509,  86272, 135473,  86838, 120151, 120926,  76363,
        89634,  60199, 105279, 111631, 101835, 115822,  64547, 139295,
        60086,  91095,  85070, 113280, 125669, 109579, 127322, 145030,
       135163,  87261, 120138, 146254,  70453, 133843,  79797,  64667,
        61501, 136622,  58064,  76096, 127410, 148234,  98772, 145796,
        87506, 107869, 148481, 127042,  80503, 136584,  55973,  64764,
       142275, 137960,  58604, 103143,  58901,  52489,  97013, 127668,
       125022, 122196, 101287,  55789, 116213,  68247, 127229,  87005,
       132541,  63498,  84131,  50815,  90829,  79220, 112953, 143998,
        80054,  89569, 122813,  91204,  69558,  60345,  64973,  92903,
        71701, 105503, 148077,  73541, 125514,  60253,  67696,  73851,
       122976,  62513, 125268, 114156, 114405, 141406,  91163, 112964,
        56937, 141554,  78169, 101865, 101263, 144949, 132152,  68013,
        97160, 111289,  75116, 122974,  52712,  78154, 102435,  51894,
       138955,  98980, 118664,  52266, 136497, 129251, 124062,  67692,
       100003,  95495, 127404,  59454, 116626, 111194,  63098,  82580,
       101567, 135652, 130004, 143526, 123140, 140488,  71198, 120144,
        95032, 126379,  60367,  69525,  58798,  64120,  58398, 103983,
        63020, 138370, 139638,  78673,  55690,  92577,  65706,  71571,
        88184,  57026,  56749, 127775, 106474,  97934, 125057,  52686,
       129779, 139287,  98529,  55313, 145766, 122589,  56201, 113078,
        52498,  99114, 125519, 120404,  66345,  81955, 116289,  68343,
        70600,  60919, 117727, 104526,  90028,  94388, 149191,  81786,
       128700, 145066, 100726, 128355,  67912,  98217, 100348, 130890,
       120477, 103222, 132078, 132690, 148135,  92412, 128326,  75011,
       139859, 119737,  53573,  67098, 135791,  67836, 115714,  68294,
        56985,  91130,  92691,  65293, 140296,  95730,  60213,  51554,
        51032,  91202,  68391, 106846, 139330, 109589,  92461, 132274,
       100188, 145992,  59089,  62768, 138175,  61880,  71716, 104233,
        81086,  81037,  65717, 107058,  92598, 121264,  53183, 105792,
       140760, 124399, 137368,  91030, 120388,  85398, 147460,  99194,
        66427, 124079,  50648, 147265, 123317, 137660, 143820,  76805,
       101889,  50512,  71337, 129891,  92823,  84933,  58427, 149529,
        59619,  81695, 119862, 137714, 115379, 134717,  74905, 111622,
       124833,  71450,  96686,  66552, 132105, 100534,  71977,  63934,
        81284,  68212, 113232, 128177, 140227, 109453, 113147,  55592,
       132856, 140455, 113723, 122105, 147206,  61132,  64481,  59806,
        51513,  61687, 110234,  89677, 136468,  96129, 118943, 133038,
        87263, 133466, 149565,  99340, 123383,  72223, 146425,  57881,
       132215,  67520, 106506, 143458,  89533, 133726, 125045,  52568,
       142201,  63448, 101139, 132129, 132498,  76480,  72714, 132059,
        71598, 109500,  53831, 129507, 121739,  56023,  53658,  79429,
       113365, 141565,  92230, 119539, 124010, 136402,  61612, 143994,
        64839, 125638,  61910,  93188,  95556,  88825,  95846, 130393,
        90969, 101621,  62188, 144010, 149654,  83022, 125066,  67036,
        82191, 123580, 123416, 139432,  89816, 128006,  95246, 147871,
        98776,  95020,  76306,  60176,  83524,  90941,  95921,  88960,
       113889, 126362, 124610,  96723,  97061,  54562,  77441,  89421,
       117501, 115636,  78535, 103918,  68188,  69965, 124499, 118013,
       147282, 143242,  81525,  56331, 117240, 140740, 146906,  96357,
       148724, 138261, 112885,  98867,  66618, 123556, 117511,  72872,
        69779,  58928, 124328,  75622,  96596,  95728,  65756,  77196,
       122677, 126760,  97989, 108683,  66721,  78060, 123166,  57688,
        53075, 128071,  61116, 135529,  93572,  52227,  50888,  76648,
        70597,  60233, 139535, 104912, 118604,  97223, 113230,  62260,
        73313,  61478, 130989,  51693, 122747,  55630, 103827,  88125,
        90839,  81850,  50324, 114592,  52086, 124667, 111290,  70246,
        54712, 133023, 104308,  91222,  63345, 100630,  88278,  55465,
        65698,  59080, 101181, 124225,  91449, 110122,  56829,  76062,
        77353, 140023,  90585,  97474,  78435, 128961, 114966,  59864,
       145806,  77675, 142396,  91811, 114705,  93335, 105836, 100619,
       113558, 144945,  98017, 117094,  64751,  52443, 113884, 148167,
       113621, 106261, 116587, 118319,  89986,  63419,  95513, 130540,
       133956,  89225,  88420,  98880, 131598,  65037, 118682,  63993,
        60214,  69640, 142195, 132540, 108202, 107663, 133211, 136691,
        52946, 134781, 116435,  77703, 149234, 119596,  56523, 136795,
       115760, 126287,  52381, 147741,  63815,  60666, 121255, 106715,
       136240,  99320, 116981,  78677,  82517, 116286,  88306,  92073,
        95647, 106653,  82204, 103849, 100400, 103972,  72730, 147580,
       141683,  94501, 131076, 111844, 101870,  55340, 115870,  63403,
        96565,  58938,  96933,  70511, 141800, 147852, 117260,  56387,
        87383, 139060,  66457, 102743, 131374, 122255, 116318,  57543,
        98691, 120623, 123028,  55203,  74724, 110828,  54434, 102621,
       126851,  90604, 137855,  66367,  78714,  58557,  94523,  53361,
       121747,  90252,  64662,  96683, 113210,  56894, 130810, 112378,
        74383,  57124,  95035,  86468, 147599,  73332,  72457,  86142,
        87442,  74667, 112884,  74791,  64701, 133456,  77570, 138414,
        94294,  92517, 149319, 130599, 143090, 129656,  97132, 140656,
       123324, 147932, 107592, 129866, 110396, 117072,  52213,  66133,
        62186, 130980,  89457,  80059, 147297,  96784, 140142, 148374,
        58548, 141733,  69230, 148764,  63875, 139020, 143410, 142975,
       125735,  95691,  85431,  73215, 138104, 129661,  90273, 120456,
        97538,  67545, 133782, 145102,  80070, 139489,  88429, 147129,
       139323,  74814, 132988,  63571,  82440,  88396,  87528, 125450,
        68068, 116569,  74762,  87697,  87096, 100966, 149902, 120693,
        89354, 131174, 116362, 148100,  68619,  55316,  74606, 109021,
        87698,  71430,  56816,  55722, 148957, 128694, 137347, 110247,
        73033, 136449, 129991, 107549,  71646, 144644, 115323, 118659,
       143238, 144691, 135572, 121114,  88153, 142959, 121615, 119377,
       120786, 114604,  95757,  62638, 103310,  69950,  97874, 106607,
       116349, 133005,  83938, 102557, 134678, 104178, 137631,  70261,
       146627, 113074,  84662, 115241,  62161,  89279, 138715,  77270,
       120970, 136786,  66460, 113901, 145711, 122209, 101958, 124475,
        98190,  68811,  76860,  58644, 113637, 104427, 134769,  71488,
        99211, 106209,  77046,  93280,  97557, 123788,  70888, 142292,
       133251,  53174,  92717,  89687, 108315,  80464, 113292, 118481,
       139591, 108126, 147994, 148838,  71556, 121892,  87199,  53231,
        91444,  62177, 149285, 136865,  85600,  59148, 101657,  60917,
        60160, 100091, 102791,  87618, 104079,  56991,  65811, 105905,
        84284, 144875, 120128, 109797, 115304,  97044,  52974,  86488,
        62918, 143076, 119356,  96472, 106613,  70087,  84252, 121144,
       108644, 126380,  70964, 126360,  92369, 146214,  61101,  76283,
       115176, 145395, 101069,  53309,  92567, 126940,  98173, 126075,
        89738,  65422,  74895,  59097, 144322, 148138,  92988, 149729,
       125092,  83370,  86722, 140478,  67295], dtype=int64)

In [12]:
data['rating'].unique()

array([1, 5, 2, 4, 3], dtype=int64)

In [13]:
data['top speed'].unique()

array([177, 148, 181, 197, 160, 138, 171, 146, 151, 200, 164, 187, 174,
       175, 176, 189, 195, 156, 153, 182, 163, 191, 179, 145, 141, 142,
       137, 157, 162, 196, 173, 159, 158, 193, 154, 136, 198, 178, 184,
       165, 194, 143, 169, 144, 150, 166, 188, 183, 172, 152, 139, 167,
       192, 135, 155, 149, 186, 170, 180, 185, 168, 161, 140, 190, 199,
       147], dtype=int64)

In [14]:
len(data.years.unique())

6

In [15]:
len(data.km.unique())

997

In [16]:
len(data.rating.unique())

5

SPLITTING OF DATAS INTO TRAINING AND TESTING DATA

In [17]:
x = data[['km', 'years', 'top speed','condition','rating']]
y = data['current price']

In [18]:
print(x)

         km  years  top speed  condition  rating
0     78945      3        177          2       1
1    117220      6        148          9       5
2    132538      2        181          8       2
3    101065      4        197          3       4
4     61559      6        160          9       3
..      ...    ...        ...        ...     ...
995  125092      5        171          6       1
996   83370      4        161          9       2
997   86722      7        196          8       1
998  140478      2        184          5       4
999   67295      5        199          2       4

[1000 rows x 5 columns]

In [19]:
print(y)

0      351318.0
1      285001.5
2      215386.0
3      244295.5
4      531114.5
         ...
995    190744.0
996    419748.0
997    405871.0
998     74398.0
999    414938.5
Name: current price, Length: 1000, dtype: float64

In [22]:


x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

MODEL TRAINING

LINEAR REGRESSION

In [24]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

NOW WE ARE READY FOR PREDICTION

In [26]:
y_pred = model.predict(x_test)

In [27]:
new_data = pd.DataFrame({'km': [2000], 'years': [3], 'top speed': [177], 'condition':[2],'rating':[5]})
predicted_price = model.predict(new_data)
print(f"Predicted Price: {predicted_price[0]}")

Predicted Price: 686426.2215069223